{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "react",
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
