{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true,
    "__PROD__": true,
    "__DEBUG__": true,
    "__COVERAGE__": true,
    "__BASENAME__": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "semi": [2, "never"],
    "semi-style": [2, "first"],
    "comma-dangle": [2, "always-multiline"],
    "max-len": 0,
    "no-shadow": 0,
    "arrow-body-style": 0,
    "global-require": 0,
    "no-unused-expressions": 0,
    "no-confusing-arrow": 0,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "no-constant-condition": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "react/default-props-match-prop-types": 0,
    "react/jsx-filename-extension": [2, {"extensions": [".js", ".jsx"]}],
    "jsx-a11y/anchor-is-valid": [2, {
      "components": ["Link"],
      "specialLink": ["hrefLeft", "hrefRight", "to"],
      "aspects": ["noHref", "invalidHref", "preferButton"]
    }]
  }
}
